<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Helldivers2_Hotkeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Helldivers2_Hotkeys.Properties.Settings>
            <setting name="Numpad0" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad1" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad2" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad3" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad4" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad5" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad6" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad7" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad8" serializeAs="String">
                <value />
            </setting>
            <setting name="Numpad9" serializeAs="String">
                <value />
            </setting>
        </Helldivers2_Hotkeys.Properties.Settings>
    </userSettings>
</configuration>